@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
      }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
      }
  }
/* Aurora effect full screen container */
.aurora-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}  

.shiny-text {
  color: #f8f5f5bf; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

